
html, body {
  height: 100%;
}
body {
  background: url("../img/back_gallery.png") no-repeat left top;
  background-size: 100% 100%;
  overflow-x: hidden;
}

body.other-back  {
  background-size: cover;
  background-attachment: fixed;
}
h1 {
  margin-top: 25px;
  margin-left: 50px;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
a {
  line-height: 0;
  color: #333;
}
a:hover, a:focus {
  color: #333;
  text-decoration: none;
}
/* galerie */
.galerie {
  position: absolute;
  top: 25%;
  height: auto;
  width: 100%;
  overflow: hidden;
}
/* carnet */
.carnet {
  background: url("../img/back_carnet.jpg");
}

.carnet h1{
  color:#fff;
}
.carnet .link-menu {
  color: #fff;
}
/* Slider */
.carousel-inner {
  overflow: visible;
}
.media-carousel
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 20px;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
  bottom: 0;
  top: auto;
  background-image: none;
  line-height: 0;
  height: 40px;
  width : 40px;
  font-size: 60px;
  color: #151515;
}
/* Next button  */
.media-carousel .carousel-control.right
{
  bottom: 0;
  top: auto;
  background-image: none;
  line-height: 0;
  height: 40px;
  width : 40px;
  font-size: 60px;
  color: #151515;
}
/* Previous button page carnet  */
.carnet .media-carousel .carousel-control.left, .carnet .media-carousel .carousel-control.right
{
  color: #fff;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
  background: #333333;
}
.media-carousel img
{
  box-shadow: 1px 5px 12px #313131;
  width: 70%;
  margin: 0 auto;
}

.single-container {
  position: relative;
  height: 80%;
}
.single-post {
  position: absolute;
  top: 10%;
  height: 90%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.single-img {
  display: inline-block;
  height: 100%;
}
.single-img img {
  height: 100%;
  width: auto;
  display: inline-block;
  box-shadow: 1px 5px 12px #313131;
}
.single-content {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  right: 5%;
  width: 20%;
}

.singlepaint {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.singlepaint p {
  text-align: center !important;
  margin: 0;
}
.imgcenter {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
/*HOME*/
.capture-video-jcr {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  overflow: hidden;
}
.capture-video-jcr video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.capture-video-jcr .language {
  position: absolute;
  top: 78%;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
}
.btn-custom {
  margin: 0 40px;
  font-size: 20px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 15px;
  padding: 5px 30px;
}

/*ACCUEIL*/
.bacceuil{
  text-align: center;
  height: 100%;
  background-color: #363636;
}
.logo {
  margin-bottom: 30px;
}
/*MARGIN*/
.mgt-50 {
  margin-top: 50px;
}
.mgt-80{
  margin-top: 80px;
}
/*PADDING*/
.pdb-50{
  padding-bottom: 50px;
}
/*BIOGRAPHIE*/
.backgroundgris{
  background-color: #dbdbdb;
  height:100vh;
}


.backgroundbiographie{
  background-image: url('../img/backgroundbio.png');
  background-size: 100% 100%;
  background-repeat:no-repeat;
}
.biographie p{
  font-size: 1em;
}
/*MENU*/

.open-menu{
  cursor: pointer;
  position: inherit;
  color: white;
}
.open{
  cursor: pointer;
  position: inherit;
  color: white;
}
.nav-menu {

  right: -400px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  background-color: #363636;
}
.nav-menu ul {
  list-style: none;
  margin: 20px;
  padding: 0;
}
.menu-menu-side-container{
  margin-top: 80px;
}

.nav-menu li {

  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 10px;
}

.nav-menu a {
  color: #ACACAC;
  font-size: 1.8em;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-menu .current-menu-item a {
  color: white;

}
.main-navigation .current-menu-parent > a {
  background-color: #ddd;
  border-top: 3px solid #222;
  padding-top: 17px;
}
/**/
.icon-close {
  position: absolute;
  left: 30px;
  top: 20px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.icon-close:hover {
  opacity: 1;
}

.icon-close:before,
.icon-close:after {
  position: absolute;

  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}

.icon-close:before {
  transform: rotate(45deg);
}

.icon-close:after {
  transform: rotate(-45deg);
}



/* test */
#wrapper {
  padding-right: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-right: 220px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}
#wrapper.toggled #page-content-wrapper {
  /*margin-left: -220px;*/
  /*position: absolute;*/
}
#sidebar-wrapper {
  background: #1a1a1a;
  height: 100%;
  right: 220px;
  left: auto;
  margin-right: -220px;
  overflow-x: hidden;
  overflow-y: auto;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 0;
  z-index: 1000;
}
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}
#page-content-wrapper {
  width: 100%;
  transition: all 0.5s ease;
}

#page-content-wrapper #carnet h1{
  color:#fff;
}

.sidebar-nav {
  width: 220px;
}
.sidebar-nav li {
  display: inline-block;
  line-height: 20px;
  position: relative;
  width: 100%;
}
.sidebar-nav li a {
  color: #dddddd;
  display: block;
  padding: 10px 15px 10px 30px;
  text-decoration: none;
}
.sidebar-nav li.open:hover before {
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  -o-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 100%;
}
.sidebar-nav .dropdown-menu {
  background-color: #222222;
  -ms-border-radius: 0;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.link-menu {
  font-size: 20px;
  float: right;
  font-weight: 600;
  margin-top: 25px;
  margin-right: 50px;
}
.icon-menu {
  position: relative;
  z-index: 999;
}
.menu-principal-container ul {
  margin: 0;
  padding: 0;
}
.menu-principal-container ul li {
  display: inline-block;
  line-height: 20px;
  position: relative;
  width: 100%;
}
.menu-principal-container ul li:hover {
  background-color: #333333;
}
.menu-principal-container ul li a {
  color: #dddddd;
  display: block;
  padding: 15px 15px 15px 30px;
  text-decoration: none;
}



#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
  display:none;
}

.nbs-flexisel-container {
  position:relative;
  max-width:100%;
}
.nbs-flexisel-ul {
  position:relative;
  width:99999px;
  margin:0px;
  padding:0px;
  list-style-type:none;
  text-align:center;
}

.nbs-flexisel-inner {
  overflow:hidden;
  float:left;
  width:100%;
  background:#fcfcfc;
  background: #fcfcfc -moz-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* FF3.6+ */
  background: #fcfcfc -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eee)); /* Chrome,Safari4+ */
  background: #fcfcfc -webkit-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* Chrome10+,Safari5.1+ */
  background: #fcfcfc -o-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* Opera11.10+ */
  background: #fcfcfc -ms-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* IE10+ */
  background: #fcfcfc linear-gradient(top, #fcfcfc 0%, #eee 100%); /* W3C */
  border:1px solid #ccc;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

.nbs-flexisel-item {
  float:left;
  margin:0px;
  padding:0px;
  cursor:pointer;
  position:relative;
  line-height:0px;
}
.nbs-flexisel-item img {
  width: 100%;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width:100px;
  max-height:45px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
  width: 22px;
  height: 22px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  opacity: 0.5;
}

.nbs-flexisel-nav-left {
  left: 10px;
  background: url(../img/button-previous.png) no-repeat;
}

.nbs-flexisel-nav-right {
  right: 5px;
  background: url(../img/button-next.png) no-repeat;
}
.nbs-flexisel-item img {
  max-height: none;
  max-width: none;
  width: 70%;
  margin: 0 auto;
  box-shadow: 1px 5px 12px #313131;
}
.nbs-flexisel-inner {
  background: transparent;
  border: none;
}
.container-slider {
  position: absolute;
  top: 45%;
  transform: translate(0%, -50%);
  width: 100%;
}