
html, body {
  height: 100%;
  font-family: 'sinanova-regularregular', 'Glyphicons Halflings', sans-serif;
}
body {
  background: url("../img/back_gallery.png") no-repeat left top fixed;
  background-size: 100% 100%;
  overflow-x: hidden;
}
.atelier {
  background: url("../img/back_carnet.jpg") no-repeat left top fixed;
  background-size: 100% 100%;
  overflow-x: hidden;
}
body.home {
  background-color: #000;
  background-image: none;
}
body.other-back  {
  background-size: cover;
  background-attachment: fixed;
}
.overlay {
   position: fixed;
   display: none;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #000000;
   background-color: rgba(0, 0, 0, 0.3);
   z-index: 1;
 }
/***************FONT*****************/

@font-face{font-family:'sinanova-regularregular';
  src:url(../fonts/SinaNovaReg-webfont.eot);
  src:url(../fonts/SinaNovaReg-webfont.eot?#iefix) format('embedded-opentype'),
  url(../fonts/SinaNovaReg-webfont.woff2) format('woff2'),
  url(../fonts/SinaNovaReg-webfont.woff) format('woff'),
url(../fonts/SinaNovaReg-webfont.ttf) format('truetype'),
  url(../fonts/SinaNovaReg-webfont.svg#sinanova-regularregular) format('svg');
  font-weight: bold;
  font-style: normal}
p { font-family: 'sinanova-regularregular', 'Glyphicons Halflings', sans-serif;}
span { font-family: 'sinanova-regularregular', 'Glyphicons Halflings', sans-serif;
font-size: 1.2em}
h1 { font-family: 'sinanova-regularregular', 'Glyphicons Halflings', sans-serif;
}
/***************/
.slick-track {
display: flex;
}
.slick-slide {
  margin: auto;
  outline: 0;
}
.image {
  margin:20%;

}
.slick-slide img {
  max-width: 100%;
  height: auto;
  box-shadow: 1px 5px 12px #313131;
}
.slick-slide a{
  outline: 0 !important;
}
.slick-arrow {
  position: absolute;
  z-index: 5;
  bottom: 5%;
  text-indent: -9999px;
  border:none;
  width: 48px;
}
.slick-prev {
  left: 45%;
  background: url(../img/button-previous.png) no-repeat;
}.slick-next {
  right: 45%;
   background: url(../img/button-next.png) no-repeat;
}
.port.item_open {
  z-index: 103;
  opacity: 1;
  /*-webkit-transform: translateY(0%);*/
  /*transform: translateY(0%);*/
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.port {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/back_gallery.png") no-repeat left top;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  /*-webkit-transform: translateY(-100%);*/
  /*transform: translateY(-100%);*/
  border-bottom: 1px solid #d0d0d0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.port .container {
  height: 100%;
}
.port .container .row {
  height: 100%;
}
.item_open .close {
  opacity: 1;
  top: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.close {
  width: 21px;
  height: 21px;
  margin: 20px;
  background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2021%2021%22%0A%09%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22layer1%22%20transform%3D%22translate%280%2C-1031.3622%29%22%3E%0A%09%3Cpath%20id%3D%22path2987%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M0%2C1031.4l21%2C21%22/%3E%0A%09%3Cpath%20id%3D%22path2989%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M21%2C1031.4l-21%2C21%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A%0A) no-repeat;
  position: absolute;
  right: 10px;
  top: -121px;
  opacity: 1;
  z-index: 1004;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.port .description {
  float: left;
  width: 50%;
  max-height: 100%;
  padding: 0 40px 40px;
  overflow: auto;
}
.shadow {
  box-shadow: 1px 5px 12px #313131;
}
.single-title{
  margin:0px 0px 10px 0px;
  font-size: 2em;
}
.inherit{
  padding-top: 10px;
  border-bottom: 1px solid rgba(26,26,26, 0.5);
  border-top: 1px solid rgba(26,26,26, 0.5);
  width: inherit;
}
.single-border{
  display: inline-block;
}
.single-content p{
  text-align: left;
  font-size: 1.2em;
  line-height: 1.8em;
}
/*************HOME***************/
#logsvg{
  z-index: 1;
  position: relative;
  margin-left: 3em;
  margin-top: 2em;
}

#logo {
  position: relative;
  width: 100%;
  height: auto;
}

.btn-intro {
  font-size: 28px;
  color: #fff;
  letter-spacing: 6px;
  text-align: center;
  background-color: transparent;
  transition: 0.2s ease-in;
}
.btn-intro:hover, .btn-intro:focus {
  color: #fff;
  outline: none !important;
}

h3 {
  margin-left: 23px;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  margin-top: 31px;
  margin-left: 50px;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.title {
  position: absolute;
  top: 59px;
  right: 0;
  width: 141px;
  background-color: #333;
  border-right: none;
  padding: 8px 0 8px 15px;
  color: #CECED0;
}
button:hover, button:focus {
  outline: 0;
}
a {
  line-height: 0;
  color: #333;
}
a:hover, a:focus {
  color: #333;
  text-decoration: none;
}
/* galerie */
.galerie {
  position: absolute;
  top: 25%;
  height: auto;
  width: 100%;
  overflow: hidden;
}
.single-post {
  display: flex;
}
.single-content {
  margin: auto;
}

.vcenter{
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

}

/*HOME*/
.btn-custom {
  margin: 0 40px;
  font-size: 20px;
  color: #fff;
  border-radius: 15px;
  padding: 5px 30px;
}

/*ACCUEIL*/
.bacceuil{
  text-align: center;
  height: 100%;
  background-color: #363636;
}
.logo {
  margin-bottom: 30px;
}
/*MARGIN*/
.mgt-50 {
  margin-top: 50px;
}
.mgt-80{
  margin-top: 80px;
}
/*PADDING*/
.pdb-50{
  padding-bottom: 50px;
}
/*BIOGRAPHIE*/
.backgroundgris {
  background-color: #dbdbdb;
  height:100vh;
}


.backgroundbiographie{
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: #fff;
  box-shadow: 1px 5px 12px #313131;
}
.biographie p{
  font-size: 1.2em;
}
/*MENU*/

.open-menu{
  cursor: pointer;
  position: inherit;
  color: white;
}
.open{
  cursor: pointer;
  position: inherit;
  color: white;
}
/**************************MENU********************************/
.navbar ul li span{
  cursor: pointer;
  color: #dddddd;
  display: block;
  padding: 20px 15px 20px 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar ul li span:hover {
  background-color: #333333;

}
.nav-menu {

  right: -400px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  background-color: #363636;
}
.nav-menu ul {
  list-style: none;
  margin: 20px;
  padding: 0;
}
.menu-langue-container{
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.menu-menu-side-container{
  margin-top: 80px;
}

.nav-menu li {
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 10px;
}

.nav-menu a {
  color: #ACACAC;
  text-decoration: none;
  text-transform: uppercase;
}
.menu-principal-container ul ul {
  display: none;
}

.menu-principal-container li.active ul {
  display: block;
}
/**/
.icon-close {
  position: absolute;
  left: 30px;
  top: 20px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.icon-close:hover {
  opacity: 1;
}

.icon-close:before,
.icon-close:after {
  position: absolute;

  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}

.icon-close:before {
  transform: rotate(45deg);
}

.icon-close:after {
  transform: rotate(-45deg);
}



/* test */
#wrapper {
  padding-right: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-right: 220px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}
#wrapper.toggled #page-content-wrapper {
  /*margin-left: -220px;*/
  /*position: absolute;*/
}
#sidebar-wrapper {
  background: #1a1a1a;
  height: 100%;
  right: 220px;
  left: auto;
  margin-right: -220px;
  overflow-x: hidden;
  overflow-y: auto;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 0;
  z-index: 1000;
}
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}
#page-content-wrapper {
  width: 100%;
  transition: all 0.5s ease;
}

#page-content-wrapper #carnet h1{
  color:#fff;
}

.sidebar-nav {
  width: 220px;
}
.sidebar-nav li {
  display: inline-block;
  line-height: 20px;
  position: relative;
  width: 100%;
}
.sidebar-nav li a {
  color: #dddddd;
  display: block;
  padding: 10px 15px 10px 30px;
  text-decoration: none;
}
.sidebar-nav li.open:hover :before {
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  -o-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 100%;
}
.sidebar-nav .dropdown-menu {
  background-color: #222222;
  -ms-border-radius: 0;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}
.white{
  color: #ffffff;
}
.link-menu {
  position: relative;
  z-index: 2;
  background-color: transparent;
  border: none;
  font-size: 20px;
  float: right;
  font-weight: 600;
  margin-top: 25px;
  margin-right: 50px;
}
.link-menu:hover, .link-menu:focus {
  outline: 0;
}
.txt-menu {
  text-transform: uppercase;
  margin-right: 10px;
}

.icon-menu {
  position: relative;
  z-index: 999;
}
.navbar ul {
  margin: 0;
  padding: 0;
}
.navbar ul li {
  display: inline-block;
  line-height: 20px;
  position: relative;
  width: 100%;
  border-top: 1px solid  #333333;
}
.navbar ul .menu-item a:hover {
  background-color: #333333;
}

.navbar ul li a {
  font-size: 1.2em;
  color: #dddddd;
  display: block;
  padding: 30px 15px 30px 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;

}
.menu-principal-container ul ul li a{
  padding: 30px 0px 30px 50px;
  text-transform: none !important;
  font-weight: normal !important;
  margin: 0px;
}
.menu-principal-container ul ul li a:hover {
  background: #333333;
  border-left: 8px solid #9d9d9d;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/***********************CONTACT*************************/


/*** Navigation ***/



.mg-top{
  margin-top: 2em;
}
#inline{
  width: 550px;
  padding: 30px 30px 30px 30px;
  border-radius: 2px;
}
/* Ink Transition */
#animation {
  display: block;
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: auto;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: hidden;
  padding: 1px;
  opacity: 1;
  -webkit-animation: animation 3.5s ease; /* Safari 3.5+ */
  -moz-animation:    animation 3.5s ease; /* Fx 5+ */
  -o-animation:      animation 3.5s ease; /* Opera 12+ */
  animation:         animation 3.5s ease; /* IE 10+, Fx 29+ */
}
.img-intro {
  opacity: 0;
  display: block;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../img/palette.jpg") no-repeat;
  background-size: cover;
  animation: intro 3.5s ease; /* IE 10+, Fx 29+ */
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
@-webkit-keyframes animation {
  0%   { opacity: 0;
    -webkit-filter: blur(2px);}

  100% { opacity: 1;
    -webkit-filter: blur(0px);}
}
@-moz-keyframes animation {
  0%   { opacity: 0;
    -webkit-filter: blur(2px);}

  100% { opacity: 1;
    -webkit-filter: blur(0px);}
}
@-o-keyframes animation {
  0%   { opacity: 0;
    -webkit-filter: blur(2px);}

  100% { opacity: 1;
    -webkit-filter: blur(0px);}
}
@keyframes animation {
  0%   { opacity: 0;
    -webkit-filter: blur(2px);}

  100% { opacity: 1;
    -webkit-filter: blur(0px);}
}
@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cd-transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.cd-transition-layer .bg-layer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-2%);
  -moz-transform: translateY(-50%) translateX(-2%);
  -ms-transform: translateY(-50%) translateX(-2%);
  -o-transform: translateY(-50%) translateX(-2%);
  transform: translateY(-50%) translateX(-2%);
  /* its dimentions will be overwritten using jQuery to proportionally fit the viewport */
  height: 100%;
  /* our sprite is composed of 25 frames */
  width: 2500%;
  background: url(../img/ink.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.cd-transition-layer.visible {
  opacity: 1;
  visibility: visible;
}
.cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24);
  -moz-animation: cd-sequence 0.8s steps(24);
  animation: cd-sequence 1.2s steps(24);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence-reverse 0.8s steps(24);
  -moz-animation: cd-sequence-reverse 0.8s steps(24);
  animation: cd-sequence-reverse 0.8s steps(24);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.no-cssanimations .cd-transition-layer {
  display: none;
}
@-webkit-keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-98%);
  }
}
@-moz-keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -moz-transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -moz-transform: translateY(-50%) translateX(-98%);
  }
}
@keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2%);
    -moz-transform: translateY(-50%) translateX(-2%);
    -ms-transform: translateY(-50%) translateX(-2%);
    -o-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-98%);
    -moz-transform: translateY(-50%) translateX(-98%);
    -ms-transform: translateY(-50%) translateX(-98%);
    -o-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%);
  }
}
@-webkit-keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
  }
}
@-moz-keyframes cd-sequence-reverse {
  0% {
    -moz-transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -moz-transform: translateY(-50%) translateX(-2%);
  }
}
@keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
    -moz-transform: translateY(-50%) translateX(-98%);
    -ms-transform: translateY(-50%) translateX(-98%);
    -o-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
    -moz-transform: translateY(-50%) translateX(-2%);
    -ms-transform: translateY(-50%) translateX(-2%);
    -o-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
  }
}
/*********************SEO*******************/
#wpseo_content table tbody tr{
  display: none !important;
}
#wpseo_content table tbody tr th td:last-child{
  display: none;
}
/*****CONTACT**/
.wpcf7-submit{
  border-color: black;
  background-color: black;
  border-radius: 0px;
}
.wpcf7-textarea {
  border-color: black;
  border-radius: 0px;
}
.wpcf7-text{
  border-color: black;
  border-radius: 0px;
}









