
html, body {
  height: 100%;
}
body {
  background: url("../img/back_gallery.png") no-repeat left top;
  background-size: 100% 100%;
}
body.single {
  background-size: cover;
}
h1 {
  display: inline-block;
}
.galerie {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: 100%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
/* Slider */
.carousel-inner {
  overflow: visible;
}
.media-carousel
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 20px;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
  left: -12px;
  background-image: none;
  height: 40px;
  width : 40px;
  margin-top: 30px;
  font-size: 60px;
  color: #151515;
}
/* Next button  */
.media-carousel .carousel-control.right
{
  right: -12px !important;
  background-image: none;
  height: 40px;
  width : 40px;
  margin-top: 30px;
  font-size: 60px;
  color: #151515;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
  background: #333333;
}
.media-carousel img
{
 box-shadow: 1px 5px 12px #313131;
    margin-bottom:15px;
    margin-right:20px;
}
.singlepaint {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.singlepaint p {
  text-align: center !important;
  margin: 0;
}
.imgcenter {
  height: 100%;
  width: auto;
  margin: 0 auto;
}
/*HOME*/
/*ACCUEIL*/
.bacceuil{
  text-align: center;
  height: 100%;
  background-color: #363636;
}
.logo {
  margin-bottom: 30px;
}
.btn {
  margin: 30px 20px
}
/*MARGIN*/
.mgt-50 {
  margin-top: 50px;
}
.mgt-80{
  margin-top: 80px;
}
/*PADDING*/
.pdb-50{
  padding-bottom: 50px;
}
/*BIOGRAPHIE*/
.backgroundgris{
  background-color: #dbdbdb;
  height:100vh;
}


.backgroundbiographie{
  background-image: url('../img/backgroundbio.png');
  background-size: 100% 100%;
  background-repeat:no-repeat;
}
.biographie p{
  font-size: 1.5em;
}
/*MENU*/

.open-menu{
  cursor: pointer;
  position: inherit;
  color: white;
}
.open{
  cursor: pointer;
  position: inherit;
  color: white;
}
.nav-menu {

  right: -400px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  background-color: #363636;
}
.nav-menu ul {
  list-style: none;
  margin: 20px;
  padding: 0;
}
.menu-menu-side-container{
  margin-top: 80px;
}

.nav-menu li {

  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 10px;
}

.nav-menu a {
  color: #ACACAC;
  font-size: 1.8em;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-menu .current-menu-item a {
  color: white;

}
.main-navigation .current-menu-parent > a {
  background-color: #ddd;
  border-top: 3px solid #222;
  padding-top: 17px;
}
/**/
.icon-close {
  position: absolute;
  left: 30px;
  top: 20px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.icon-close:hover {
  opacity: 1;
}

.icon-close:before,
.icon-close:after {
  position: absolute;

  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}

.icon-close:before {
  transform: rotate(45deg);
}

.icon-close:after {
  transform: rotate(-45deg);
}
